<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.closed_roads">

    <application
        android:label="@string/app_name">

        <service android:name="com.aware.plugin.closed_roads.InsertAlgorithm"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.URLParsingService"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.Plugin"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.SocketService"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.SocketParsingService"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.LinkIdParsingService"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.UpdateAlgorithm"
            android:exported="false" />

        <service android:name="com.aware.plugin.closed_roads.DeleteAlgorithm"
            android:exported="false" />

        <provider
            android:name="com.aware.plugin.closed_roads.Provider"
            android:authorities="${applicationId}.provider.closed_roads"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

    </application>

</manifest>
