<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.google.activity_recognition">

    <!-- Permissão para que a aplicação possa utilizar a Activity Recognition do utilizador. -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:label="@string/app_name">

        <!-- IntentService que processa a resposta/resultado da API Activity Recognition.
            Ao configurar o atributo android:exported a "false" evita-se que outras aplicações possam iniciar este serviço. -->
        <service
            android:name="com.aware.plugin.google.activity_recognition.Algorithm"
            android:exported="false" />

        <!-- Serviço que integra a framework Aware ao estender a classe Aware_Plugin (que é uma extensão da classe Android Service).
            Ao configurar o atributo android:exported a "false" evita-se que outras aplicações possam iniciar este serviço. -->
        <service
            android:name="com.aware.plugin.google.activity_recognition.Plugin"
            android:exported="false" />

        <!-- (API >= 21) JobService que permite utilizar a JobScheduler API, fornecendo uma interface para agendar tarefas em background.
            Os JobServices devem ser protegidos com a permissão android.permission.BIND_JOB_SERVICE.
            Se um JobService for declarado no Manifest, mas que não esteja protegido por esta permissão,
            será simplesmente ignorado pelo Android OS.
            Ao configurar o atributo android:exported a "false" evita-se que outras aplicações possam iniciar este serviço. -->
        <service
            android:name=".ScheduleDeleteService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <!-- (API < 21) BroadcastReceiver que permite manipular (handle) os eventos agendados pelo AlarmManager.
            Ao configurar o atributo android:exported a "false" declara-se que o BroadcastReceiver
            não pode receber mensagens de fontes externas à aplicação.
            Neste caso, as únicas mensagens que o BroadcastReceiver pode receber são aquelas enviadas por componentes
            da mesma aplicação ou de aplicações com o mesmo ID de utilizador. -->
        <receiver
            android:name=".ScheduleDeleteReceiver"
            android:exported="false" />

        <!-- Content Provider que fornece acesso a uma das bases de dados da aplicação (nomeadamente à  base de dados plugin_google_activity_recognition). -->
        <provider
            android:name="com.aware.plugin.google.activity_recognition.Google_AR_Provider"
            android:authorities="${applicationId}.provider.gar"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

    </application>

</manifest>